div#rightcont {
	/* background-color: aquamarine; */
	width: 70%;
	height: 900px;
	margin-left: 30%;
	float: left;
}

.back {
	font-size: 30px;
	margin-left: 20px;
	color: #000;
	/* 去掉下划线 */
	text-decoration: none;

}

table {
	width: 80%;
	height: 500px;

	margin: 10% 10% 0 10%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	border-spacing:10px;
	border-radius: 6%;
	font-size: 24px;
}
tr{
	opacity: 0.8;
}
th, td {
	padding: 10px;
    text-align:center;
}
